.button {
   background-color: #7fff00;
   height: 40px;
   padding: 0 10px;
   border-radius: 5px;
   width: 100%;
   font-size: 1rem;
   color: #444;
   font-weight: bold;
   cursor: pointer;
   border: none;
   transition: all 0.2s;
}

.button:hover{
   background-color: rgb(89, 179, 0);
   color: hsl(0, 0%, 97%);
}

.button:active{
   background-color: rgb(44, 83, 1);
}