.task-container{
   background-color: #444;
   margin: 8px 0;
   padding: 15px 20px;
   color: #fff;
   border: 2px solid rgba(99,99,99,0.6);
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center; 
}

.task-title{
   cursor: pointer;
}

.task-delete, .see-task-details{
   background-color: #444;
   color: chartreuse;
   cursor: pointer;
   border: none;
   font-size: 20px;
   margin-left: 10px;
}

.task-delete:hover, .see-task-details:hover{
   color: hsl(90, 100%, 35%);
}